extends layout
block content

  div(id="map")
  div(id="list")
    each bathroom in bathrooms
      div(class="listItem")
        div(class="halfList")
<<<<<<< HEAD
          div(class="stars")= bathroom.rating
          p(class="listTitle")= bathroom.bathroomname
            span  -- 
            span= bathroom.distance 
            span  meters
=======
          div(class="rating stars")
            span(class="star1") &#9734
            span(class="star2") &#9734
            span(class="star3") &#9734
            span(class="star4") &#9734
            span(class="star5") &#9734
          p(class="listTitle")= bathroom.bathroomname 
>>>>>>> 6b5234a00b051c33b30398201095b1023f9a1f78
          p= bathroom.directions
        div(class="halfList")
        div(class="starNumber")= bathroom.rating

  
  
  p(class="hidden" id="lat")= lat
  p(class="hidden" id="lng")= lng

  script(src="/javascript/initMap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=#{key}&callback=initMap" async defer)
