extends layout
block content

  div(id="map")
  div(id="list")
    each bathroom in bathrooms
      div(class="listItem")
        div(class="halfList")
          div(class="stars")= bathroom.rating
          p(class="listTitle")= bathroom.bathroomname 
          p= bathroom.directions
        div(class="halfList")
  
  
  
  
  p(class="hidden" id="lat")= lat
  p(class="hidden" id="lng")= lng
  
  script(src="/javascript/initMap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMR72LZK1TzznEiG9LqMJtEvfafaLtMhE&callback=initMap" async defer)
