extends layout
block content

  div(id="map")
  div(id="list")
    each bathroom in bathrooms
      div(class="listItem")
        div(class="halfList")
          div(class="rating stars")
            span(class="star1") &#9734
            span(class="star2") &#9734
            span(class="star3") &#9734
            span(class="star4") &#9734
            span(class="star5") &#9734
          a(class="listTitle" href='/moreinfo')= bathroom.bathroomname
          span  -- 
          span= bathroom.distance 
          span  meters
          p= bathroom.directions
        div(class="attFlex")
          div(class="attributes1")
            if bathroom.menschangingtable == true
              p Men's Changing Table
            if bathroom.womanschangingtable == true
              p Women's Changing table
            if bathroom.unisex == true
              p Unisex
          div(class="attributes2")
            if bathroom.customersonly == true
              p Customers Only
            if bathroom.private == true
              p Private    
        div(class="starNumber")= bathroom.rating

  
  
  p(class="hidden" id="lat")= lat
  p(class="hidden" id="lng")= lng

  script(src="/javascript/initMap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=#{key}&callback=initMap" async defer)
